/*
*ESTILOS GLOBALES
*/


*, html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: var(--main-font) ;
    background-color: var(--primary-bg-color);
    position: relative;
}

:root{

    /*VARIABLES PARA FAMILIA DE FUETNE*/
    --main-font:'PlayFair Display';
    --second-font: 'Merriweather';

    /*VARRABLES PARA CAJA*/
    --padding-mobile: 0 15px;
    --padding-tablet: 0 20px;
    --padding-desktop: 0 30px;
    --margin: 50px 0;


    /*TAMAÑOS DE CAJAS*/
    --height-header-mobile: 36px;
    --height-header-tablet: 50px;
    --height-header-desktop: 71px;

    /*COLORES EN MODO CLARO*/
    --primary-color:#333;
    --primary-bg-color: #f5f5f5;
    --border: 1px solid #000;
    --drop-shadow: 0 0 50px  var(--night-mode-bg-color) ;
    --shadow-icon: 0 0 5px var(--night-mode-bg-color);
    

    /*COLORES PARA EL MODO NOCHE*/
    --night-mode-color:#ffffff;
    --night-mode-bg-color: #000000;
    --night-mode-border: 1px solid #333;
    --drop-shadow-night-mode: 0 0 50px var(--primary-bg-color);
    --shadow-icon-night-mode: 0 0 5px var(var(--primary-bg-color));

    /*COLOR ESPECIAL PARA DAR ENFASIS A PALABRAS*/
    --special-color: #140fee;

    /* TAMAÑO DE FUENTES*/
    /*Mobile*/
    --font-size-h1-mobile:32px;
    --font-size-h2-mobile: 20px;
    --font-size-header-mobile: 20px;
    --font-size-p-mobile: 13px;

    /*Tablets*/
    --font-size-h1-tablet: 48px;
    --font-size-h2-tablet: 36px;
    --font-size-header-tablet: 20px;
    --font-size-p-tablet: 15px;

    /*Desktop*/
    --font-size-h1-desktop: 64px;
    --font-size-h2-desktop: 48px;
    --font-size-header-desktop: 24px;
    --font-size-p-desktop: 22px;
}

/*
*CLASES MAS USADAS
*/

.special{
    color: var(--special-color);
}

/*
* HEADER
*/

/*MOBILE*/

#header{
    width: 100%;
    min-width: 300px;
    height: 36px;
    padding: var(--padding-mobile);
    border-bottom: var(--border);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navegacion .jam{
    font-size: var(--font-size-h1-mobile);
    display: inline-block;
    cursor: pointer;
}

.jam-menu:hover, .jam-moon:hover{
    filter: drop-shadow(var(--shadow-icon));
}

#logo a{
    font-size: 25px;
    text-decoration: none;
    color: var(--primary-color);
}

#header a{
    text-decoration: none;
}

#header a:hover{
    color: var(--special-color);
}

a:visited{
    color: var(--primary-color);
}

#logo a:hover{
    color: var(--special-color);
}

#menu{
    background-color: var(--primary-bg-color);
    position: absolute;
    top: calc( 5px + var(--height-header-mobile));
    right: 10px;
    border: var(--border);
    width: 140px;
    box-shadow: 0 0 10px  0px var(--night-mode-bg-color);
    transform: translateX(200px);
    transition: transform .5s ease-in;
}

#menu.active-list{
    transform: translateX(0);
}

#menu #list{
    list-style: none;
    font-size: var(--font-size-header-mobile);
    font-weight: 700;
}

#list .item:not(:last-child){
    border-bottom: var(--border);
}

.item a{
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 10px;
}



/*TABLET*/

@media screen and (min-width: 768px ) and (max-width:1024px) {

    #header{
        max-width: 100%;
        height: var(--height-header-tablet);
        font-size: var(--font-size-header-tablet);
        padding: var(--padding-tablet);
    }

    #navegacion .jam{
        font-size: var(--font-size-h2-tablet);
    }

    #menu{
        width: 150px;
        top: calc( 5px + var(--height-header-tablet));
        font-size: var(--font-size-header-tablet);
    }

}

/*DESKTOP*/

@media screen and (min-width: 1024px) {

    #header{
        max-width: 100%;
        height: var(--height-header-desktop);
        padding: var(--padding-desktop);
    }

    #navegacion{
        width: 70%;
        max-width: 80%;
       display: flex;
       justify-content: space-between;
    }

    #navegacion .jam.jam-menu{
        display: none;
    }

    #menu{
        width: 100%;
        position: static;
        transform: translateX(0);
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: space-around;


    }

    #list{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .item{
        border: none;
    }

    #menu #list .item{
        border-bottom: none;
    }
}


/*
*CONTENIDO PRINCIPAL
*/

/*MOBILE*/

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

#my-description{
    width: 70%;
    min-width: 250px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#title{
    font-size: var(--font-size-h1-mobile);
}

#subtitle{
    font-size: var(--font-size-p-mobile);
    font-weight: 600;
    text-align: center;
}

#me{
    display: inline-block;
    max-width: 70%;
    height: 400px ;
    filter: drop-shadow(var(--drop-shadow));
}


/*TABLET*/

@media screen and (min-width: 768px ) and (max-width:1024px){

    #main{
        height: 100vh;
    }

    #my-description{
        width: 50%;
    }

    #title{
        font-size: var(--font-size-h1-tablet);
    }

    #subtitle{
        font-size: var(--font-size-p-tablet);
    }

    #me{
        height: 70%;
    }

}

/*DESKTOP*/

@media screen and (min-width: 1024px){

    #main{
        flex-direction: row;
        justify-content: space-evenly;
    }

    #my-description{
        width: 40%;
        align-items: flex-start;
        height: auto;
    }

    #title{
        font-size: var(--font-size-h1-desktop);
    }

    #subtitle{
        font-size: var(--font-size-p-desktop);
        text-align: start;
    }

    #me{
        height: 80%;
        width: 500px;
    }
}


/*
*SOBRE MI
*/

/*MOBILE*/
#sobre-mi{
    margin: var(--margin);
    padding: var(--padding-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
}

.name-section{
    font-size: var(--font-size-h2-mobile);
    margin-bottom: 15px;
}

#description{
    font-size: var(--font-size-p-mobile);
    font-family: var(--second-font);
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    font-weight: 500;
    width: 90%;
}

#description .line:not(:last-child){
    margin-bottom: 10px;
}


/*TABLET*/
@media screen and (min-width: 768px ) and (max-width:1024px){

    #sobre-mi{
        padding: var(--padding-tablet);
        font-size: var(--font-size-h2-tablet);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    .name-section{
        font-size: var(--font-size-h2-tablet);
    }
    #description{
        font-size: var(--font-size-p-tablet);
        width: 90%;
    }

}


/*DESKTOP*/
@media screen and (min-width: 1024px){

    #sobre-mi{
        height: 450px;
    }

    .name-section{
        font-size: var(--font-size-h2-desktop);
    }

    #description{
        font-size: var(--font-size-p-desktop);
        width: 90%;
    }
}


/*
*MIS PROYECTOS
*/

/*MOBILE*/
#my-projects{
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 1000px;
}

.cards{
    overflow: hidden;
    width: 60%;
    max-width: 300px;
    height: 250px;
    position: relative;
    border: 3px solid var(--primary-color);
    margin: 10px;
}

.cards > a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project{
    object-fit: fill;
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 0;
}

.name-project{
    position: absolute;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--second-font);
    font-size: var(--font-size-p-mobile);
    background-color: var(--special-color); 
    opacity: .8;
    color: var(--night-mode-color);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .2s ease-in;
}

.cards:hover .name-project{
    transform: scaleY(1);
}

.name-project h4{
    font-weight: bold;
    font-size: var(--font-size-header-mobile);
    margin-bottom: 20px;
}

/*TABLET*/
@media screen and (min-width: 768px ) and (max-width:1024px){

    #cards-container{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 700px;
        padding: var(--padding-tablet);
    }

    .cards{
        min-width: 40%;
        height: 300px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px){

    #cards-container{
        flex-direction: row;
        justify-content: space-around;
        height: 400px;
        padding: var(--padding-desktop);
    }

    .cards{
        height: 300px;
        max-width: 400px;
    }
}


/*
*MIS HABILIDADES
*/
/*MOBILE*/
#my-skills{
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    padding: var(--padding-mobile);
}

#carrusel {
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 5px solid var(--special-color);
}

.track {
    display: flex;
    width: calc(90px * 16);
    animation: carrusel 40s linear infinite;
    -webkit-animation: carrusel 40s linear infinite ;
}


.cont-img {
    width: 90px;
    height: 100px;
    margin: 0 10px;
    border: 5px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}


@keyframes carrusel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX( calc(-90px * 8));
        -webkit-transform:  translateX( calc(-90px * 8));
    }
}

.cont-img:hover {
    transform: scale(1.2);
}

.skill {
    width: 80%;
    height: 80%;
}


/*TABLET*/
@media screen and (min-width: 768px ) and (max-width:1024px){

    #carrusel{
        height: 200px;
    }

    .track{
        width: calc(120px * 16);
    }

    .cont-img{
        height: 120px;
        width: 120px;
    }

    @keyframes carrusel {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX( calc(-120px * 8));
            -webkit-transform:  translateX( calc(-120px * 8)) ;
        }
    }

}


/*DESKTOP*/
@media screen and (min-width: 1024px){

    #carrusel{
        height: 200px;
        width:  90%;
        max-width: 1200px;
    }

    .track{
        width: calc(150px * 16);
    }

    .cont-img{
        height: 150px;
        width: 150px;
    }

    @keyframes carrusel {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX( calc(-150px * 8));
            -webkit-transform:  translateX( calc(-150px * 8)) ;
        }
    }

    .cont-img:hover {
        transform: scale(1.1);
    }
}