/*
*ESTILOS GLOBALES
*/


*, html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: var(--main-font) ;
    background-color: var(--primary-bg-color);
    position: relative;
}

:root{

    /*VARIABLES PARA FAMILIA DE FUETNE*/
    --main-font:'PlayFair Display';
    --second-font: 'Merriweather';

    /*VARRABLES PARA CAJA*/
    --padding-mobile: 0 15px;
    --padding-tablet: 0 20px;
    --padding-desktop: 0 30px;


    /*TAMAÑOS DE CAJAS*/
    --height-header-mobile: 36px;
    --height-header-tablet: 50px;
    --height-header-desktop: 71px;

    /*COLORES EN MODO CLARO*/
    --primary-color:#333;
    --primary-bg-color: #f5f5f5;
    --border: 1px solid #000;
    --drop-shadow: 0 0 50px  var(--night-mode-bg-color) ;
    --shadow-icon: 0 0 5px var(--night-mode-bg-color);
    

    /*COLORES PARA EL MODO NOCHE*/
    --night-mode-color:#ffffff;
    --night-mode-bg-color: #000000;
    --night-mode-border: 1px solid #333;
    --drop-shadow-night-mode: 0 0 50px var(--primary-bg-color);
    --shadow-icon-night-mode: 0 0 5px var(var(--primary-bg-color));

    /*COLOR ESPECIAL PARA DAR ENFASIS A PALABRAS*/
    --special-color: #140fee;

    /* TAMAÑO DE FUENTES*/
    /*Mobile*/
    --font-size-h1-mobile:32px;
    --font-size-h2-mobile: 20px;
    --font-size-header-mobile: 20px;
    --font-size-p-mobile: 13px;

    /*Tablets*/
    --font-size-h1-tablet: 48px;
    --font-size-h2-tablet: 36px;
    --font-size-header-tablet: 20px;
    --font-size-p-tablet: 15px;

    /*Desktop*/
    --font-size-h1-desktop: 64px;
    --font-size-h2-desktop: 48px;
    --font-size-header-desktop: 24px;
    --font-size-p-desktop: 22px;
}

/*
*CLASES MAS USADAS
*/

.special{
    color: var(--special-color);
}

/*
* HEADER
*/

/*MOBILE*/

#header{
    width: 100%;
    min-width: 300px;
    height: 36px;
    padding: var(--padding-mobile);
    border-bottom: var(--border);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navegacion .jam{
    font-size: var(--font-size-h1-mobile);
    display: inline-block;
    cursor: pointer;
}

.jam-menu:hover, .jam-moon:hover{
    filter: drop-shadow(var(--shadow-icon));
}

#logo{
    font-size: 25px;
    text-decoration: none;
    color: var(--primary-color);
}

#header a{
    text-decoration: none;
}

#header a:hover{
    color: var(--special-color);
}

a:visited{
    color: var(--primary-color);
}

#logo a:hover{
    color: var(--special-color);
}

#menu{
    background-color: var(--primary-bg-color);
    position: absolute;
    top: calc( 5px + var(--height-header-mobile));
    right: 10px;
    border: var(--border);
    width: 140px;
    box-shadow: 0 0 10px  0px var(--night-mode-bg-color);
    transform: translateX(200px);
    transition: transform .5s ease-in;
}

#menu.active-list{
    transform: translateX(0);
}

#menu #list{
    list-style: none;
    font-size: var(--font-size-header-mobile);
    font-weight: 700;
}

#list .item:not(:last-child){
    border-bottom: var(--border);
}

.item a{
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 10px;
}



/*TABLET*/

@media screen and (min-width: 768px ) and (max-width:1024px) {

    #header{
        max-width: 100%;
        height: var(--height-header-tablet);
        font-size: var(--font-size-header-tablet);
        padding: var(--padding-tablet);
    }

    #navegacion .jam{
        font-size: var(--font-size-h2-tablet);
    }

    #menu{
        width: 150px;
        top: calc( 5px + var(--height-header-tablet));
        font-size: var(--font-size-header-tablet);
    }

}

/*DESKTOP*/

@media screen and (min-width: 1024px) {

    #header{
        max-width: 100%;
        height: var(--height-header-desktop);
        padding: var(--padding-desktop);
    }

    #navegacion{
        width: 70%;
        max-width: 80%;
       display: flex;
       justify-content: space-between;
    }

    #navegacion .jam.jam-menu{
        display: none;
    }

    #menu{
        width: 100%;
        position: static;
        transform: translateX(0);
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: space-around;


    }

    #list{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .item{
        border: none;
    }

    #menu #list .item{
        border-bottom: none;
    }
}


/*
*CONTENIDO PRINCIPAL
*/

/*MOBILE*/

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

#my-description{
    width: 70%;
    min-width: 250px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#title{
    font-size: var(--font-size-h1-mobile);
}

#subtitle{
    font-size: var(--font-size-p-mobile);
    font-weight: normal;
    text-align: center;
}

#me{
    display: inline-block;
    max-width: 70%;
    height: 400px ;
    filter: drop-shadow(var(--drop-shadow));
}


/*TABLET*/

@media screen and (min-width: 768px ) and (max-width:1024px){

    #main{
        height: 100vh;
    }

    #my-description{
        width: 50%;
    }

    #title{
        font-size: var(--font-size-h1-tablet);
    }

    #subtitle{
        font-size: var(--font-size-p-tablet);
    }

    #me{
        height: 70%;
    }

}

/*DESKTOP*/

@media screen and (min-width: 1024px){

    #main{
        flex-direction: row;
        justify-content: space-evenly;
    }

    #my-description{
        width: 40%;
        align-items: flex-start;
        height: auto;
    }

    #title{
        font-size: var(--font-size-h1-desktop);
    }

    #subtitle{
        font-size: var(--font-size-p-desktop);
        text-align: start;
    }

    #me{
        height: 80%;
        width: 500px;
    }
}


/*
*SOBRE MI
*/

/*MOBILE*/
#sobre-mi{
    margin-top: 15px;
    padding: var(--padding-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
}

#name-section{
    font-size: var(--font-size-h2-mobile);
    margin-bottom: 15px;
}

#description{
    font-size: var(--font-size-p-mobile);
    font-family: var(--second-font);
    font-weight: bold;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    font-weight: bold;
    width: 90%;
}

#description .line:not(:last-child){
    margin-bottom: 10px;
}


/*TABLET*/
@media screen and (min-width: 768px ) and (max-width:1024px){

    #sobre-mi{
        padding: var(--padding-tablet);
        font-size: var(--font-size-h2-tablet);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
    }

    #name-section{
        font-size: var(--font-size-h2-tablet);
    }
    #description{
        font-size: var(--font-size-p-tablet);
        width: 90%;
    }

}


/*DESKTOP*/
@media screen and (min-width: 1024px){

    #sobre-mi{
        height: 450px;
    }

    #name-section{
        font-size: var(--font-size-h2-desktop);
    }

    #description{
        font-size: var(--font-size-p-desktop);
        width: 90%;
    }
}

